<div class="format-actions">
    <button mat-raised-button class="format-action" [ngClass]="{active: bActive}" (click)="handleTextFormat('b')" type="button"><b>B</b></button>
    <button mat-raised-button class="format-action" [ngClass]="{active: iActive}" (click)="handleTextFormat('i')" type="button"><i>I</i></button>
    <button mat-raised-button class="format-action" [ngClass]="{active: uActive}" (click)="handleTextFormat('u')" type="button"><u>U</u></button>
    <button mat-raised-button class="format-action" (click)="handleTextFormat('tf')" type="button"><mat-icon>format_indent_increase</mat-icon></button>
    <button mat-raised-button class="format-action" (click)="handleTextFormat('tb')" type="button"><mat-icon>format_indent_decrease</mat-icon></button>
    <input id="color-picker" type="color" hidden (change)="handleTextFormat('c', $event.target.value)" />
    <label for="color-picker"><a mat-raised-button class="format-action"><span [ngStyle]="{'color': color}">COLOR</span></a></label>
</div>

<div class="file" contenteditable="true" [mdePopoverTriggerFor]="appPopover">
    {{text}}
</div>

<mde-popover #appPopover="mdePopover" mdePopoverPositionX="before" mdePopoverTriggerOn="none">
    <mat-card style="max-width: 300px">
        <mat-card-content>
            <div class="buttons">
                <button mat-raised-button class="format-action" [ngClass]="{active: bActive}" (click)="handleTextFormat('b')" type="button"><b>B</b></button>
                <button mat-raised-button class="format-action" [ngClass]="{active: iActive}" (click)="handleTextFormat('i')" type="button"><i>I</i></button>
                <button mat-raised-button class="format-action" [ngClass]="{active: uActive}" (click)="handleTextFormat('u')" type="button"><u>U</u></button>
                <button mat-raised-button class="format-action" (click)="handleTextFormat('tf')" type="button"><mat-icon>format_indent_increase</mat-icon></button>
                <button mat-raised-button class="format-action" (click)="handleTextFormat('tb')" type="button"><mat-icon>format_indent_decrease</mat-icon></button>
                <input id="color-picker" type="color" hidden (change)="handleTextFormat('c', $event.target.value)" />
                <label for="color-picker"><a mat-raised-button class="format-action"><span [ngStyle]="{'color': color}">COLOR</span></a></label>
            </div>
            <div class="synonims">
                <button mat-raised-button *ngFor="let synonim of synonims" (click)="switchToSynonim(synonim.word)">{{synonim.word}}</button>
            </div>
        </mat-card-content>
    </mat-card>
</mde-popover>