:host {
    background-color: #fff;
    height: 25px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.format-actions {
    width: 600px;
    margin: 16px auto;
    text-align: center;
}

.format-actions label {
    margin-left: 5px
}

button+button {
    margin-left: 5px;
}

.file {
    width: 600px;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #e4dede;
    padding: 20px;
}

button.active {
    background-color: #777;
    color: #fff;
}

.buttons {
    text-align: center;
}

.buttons .format-action {
    margin: 5px 3px 0px 3px;
    height: 36px;
}

.synonims {
    margin: 16px auto;
    text-align: center
}

.synonims button {
    margin-top: 5px;
}