@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
}